/.vs
/.vsconfig
/Library/*
/Logs
/Packages
/ProjectSettings/*
/Temp
/UnityTMP字庫.sln
/UserSettings
/Assets/TextMesh Pro
!/Library/BuildSettings.asset
!/ProjectSettings/ProjectVersion.txt
!/ProjectSettings/EditorBuildSettings.asset
!/ProjectSettings/EditorSettings.asset